.profile {
    width: 400px;
    height: 440px;
    margin: 100px;
    background-color: #f7f7f7;
    border: 2px solid #040404;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px;
    background-color: rgb(27, 25, 25);
}
.name {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}
.tag,
.location {
    font-size: 25px;
    color: #768696;
    margin: 0;
    margin-bottom: 5px;
}
.stats {
    display: flex;
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 0;
}
.stats li {
    flex: 1;
    width: 100%;
    padding: 10px 0;
    list-style: none;
    border-top: 2px solid #768696;
    border-left: 2px solid #768696;
    background-color: #c2c2c3;
}

.label {
    display: block;
    font-size: 16px;
    color: #040404;
    margin-bottom: 5px;
}
.quantity {
    font-size: 20px;
    font-weight: bold;
}
