.friendList {
    list-style: none;
    display: flex;
    margin: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    padding: 10px;
    margin: 5px;
    border: 2px solid #040404;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

.name {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.online {
    font-size: 12px;
    margin: 2px 0 0 0;
    color: green;
}

.offline {
    font-size: 12px;
    margin: 2px 0 0 0;
    color: red;
}