.transactionHistory {
    width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid black;
}

.header {
    background-color: rgb(36, 35, 35);
    color: white;
    text-align: left;
    font-size: 18px;
    padding: 5px 15px;
    border: 2px solid black;
    text-align: center;
}

.cell {
    border: 2px solid black;
    padding: 5px 70px;
    text-align: left;
    font-size: 18px;
}

.row:nth-child(even) {
  background-color: #d6d4d4;
}

.row:nth-child(odd) {
  background-color: #ffffff;
}